@using Humanizer
@model voteStuff.ViewModels.VoteDuoViewModel

@{
    ViewBag.Title = $"Duo {@Model.DuoFirst} vs {@Model.DuoSecond}";
}


<div class="bottomCard center-align z-depth-5">
    <div class="interCard center-align">
        <div class="contentCard center-align">

            <div class="row">
                <h4 id="DuoNameHead">@Model.DuoFirst vs @Model.DuoSecond</h4>

                <h6>Totall Votes: <span id="DuoTotallVotes">@Model.DuoTotalVotes</span></h6>

                <div class="chart"></div>
                <div class="DuoNavigationContainer">
                    <div class="navigation-content">
                        <div class="prev">
                            <a class="tooltipped" data-position="left" data-delay="50" data-tooltip="Previous Duo" href="javascript:void(0)"><i class="fa fa-angle-left"></i></a>
                        </div>
                        <div class="next">
                            <a class="tooltipped" data-position="right" data-delay="50" data-tooltip="Next Duo" href="javascript:void(0)"><i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col l6 m6 s6 right-align">
                    <form action="/Home/Duos" class="formClass" method="POST" asp-antiforgery="true">
                        <div>@Model.DuoFirst <span id="DuoFirstVotes">@Model.DuoFirstVotes</span></div>
                        <input type="hidden" value="@Model.DuoSecond" name="VotedName" />
                        <input type="hidden" value="@Model.Id" name="Id" />
                        @if (!Model.DuoIsAlreadyVotedByUser)
                        {
                            <input id="DuoFirstSubmit" type="submit" value="&#xf088;" class="fa inputIcon inputLeft siteColor" />
                        }
                    </form>
                </div>
                <div class="col l6 m6 s6 left-align">
                    <form action="/Home/Duos" class="formClass" method="POST" asp-antiforgery="true">
                        <div>@Model.DuoSecond <span id="DuoSecondVotes">@Model.DuoSecondVotes</span></div>
                        <input type="hidden" value="@Model.DuoFirst" name="VotedName" />
                        <input type="hidden" value="@Model.Id" name="Id" />
                        @if (!Model.DuoIsAlreadyVotedByUser)
                        {
                            <input id="DuoSecondSubmit" type="submit" value="&#xf088;" class="fa inputIcon siteColor" />
                        }
                    </form>
                </div>
                @if (Model.DuoIsAlreadyVotedByUser)
                {
                    <div class="row">
                        <div class="col l10 offset-l1 m10 offset-m1 s10 offset-s1 center-align">
                            <div class="card-panel">
                                <div>
                                    Voted <span class="votedDuoTime">@Model.DuoVotedByCurrentUserDb.VotingTime.Humanize()</span>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>