@using Humanizer
@model ProfileOverviewViewModel

@{
    ViewBag.Title = @Model.UserName + " TerminalDown";
    Layout = "_Layout";
}

<div class="container">
    <div class="row">
        <div class="col center-align l12 m12 s12">
            <div class="bottomCard center-align z-depth-5">
                <div class="interCard center-align">
                    <div class="contentCard center-align">
                        <div class="profileOverviewContainer left-align">
                            <br />
                            <a asp-controller="Account" asp-action="ProfileOverview" class="black-text">
                                <div class="profileOverview-imgContainer"><img src="https://graph.facebook.com/@Model.FbUserId/picture?type=normal" alt="" /></div>
                                <h5>@Model.UserName</h5>
                                <br />
                                <br />
                            </a>
                            <h6>All Duos you care about:</h6>
                            <ul class="allVotedDuosCards">
                                @foreach (var allDuoVotedByUser in Model.AllDuosVotedByUser)
                                {
                                    var duoId = 0;
                                    duoId = (allDuoVotedByUser.DuoVotedByCurrentUserDb.DuoID == 1) ? 0 : allDuoVotedByUser.DuoVotedByCurrentUserDb.DuoID - 1;
                                    int category = (int)allDuoVotedByUser.Category;
                                    <li>
                                        <a href="~/Home/Duos/?previousDuoId=@duoId&category=@category&nextOrPrev=1">
                                            <div class="card-panel center-align">
                                                <h6 class="black-text">
                                                    @allDuoVotedByUser.DuoFirst vs @allDuoVotedByUser.DuoSecond
                                                </h6>
                                                <div class="ProfileOver_votedDuoTime black-text">
                                                    Voted <span>@allDuoVotedByUser.DuoVotedByCurrentUserDb.VotingTime.Humanize()</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                }
                            </ul>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>